<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Tecnologicos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
   
<h1>Heroes tecnológicos</h1>

    <h1>Babbage Charles</h1>
    <div class="description">
        <img src="img/Babbage.jpg" alt="Imagen de Babbage"></div>
        <p>Charles Babbage (Teignmouth, Devonshire, Gran Bretaña, 26 de diciembre de 1791-Londres, 18 de octubre de 1871) fue un matemático y científico de la computación británico. ​ Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias.</p><hr>
       

        
        </div>
</body>
</html>