<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Tecnologicos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
   
<h1>Heroes tecnológicos</h1>
</header>
<section class="container">
    <div class="heroe1">
        <a href="/babbage"><h2>Babbage Charles</h2>
        <img src="img/Babbage.jpg" alt="Imagen de Babbage"></a></div>
        
        <div class="heroe2">
        <a href="/berners-lee"><h2>Berners-Lee</h2>
        <img src="img/Berners-Lee.jpg" alt="Imagen de Berners-Lee"></a></div>
        
        <div class="heroe3">
        <a href="/clarcke"><h2>Clarke</h2>
        <img src="img/Clarcke.jpg" alt="Imagen de Clarke"></a></div>

        <div class="heroe4">
        <a href="/hamilton"><h2>Hamilton</h2>
        <img src="img/Hamilton.jpg" alt="Imagen de Hamilton"></a></div>

        <div class="heroe5">
        <a href="/hopper"><h2>Hopper</h2>
        <img src="img/Hopper.jpg" alt="Imagen de Hopper"></a></div>

        <div class="heroe6">
        <a href="/lovelace"><h2>Lovelace</h2>
        <img src="img/Lovelace.jpg" alt="Imagen de Lovelace"></a></div>

        <div class="heroe7">
        <a href="/turing"><h2>Turing</h2>
        <img src="img/Turing.jpg" alt="Imagen de Turing"></a></div>
</section>
</body>
</html>